<!DOCTYPE html>
<html>
    <head>
        <title>add farm</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <div class="navBar">
            <h1>GroceryStore</h1>
            <form action="/logout" method="POST">
                <button type="submit" name="logout" value="logout">
                    Logout
                </button>
            </form>
        </div>
        <div class="farmForm">
            <form action="/add_farm_action" method="POST">
                <label for="farm_name">Name of farm:</label><br>
                <input type="text" id="farm_name" name="farm_name"><br>
                <label for="location">Location:</label><br>
                <input type="text" id="location" name="location"><br>
                <br>
                <input type="submit" name="submitType" value="Submit">
                <input type="submit" name="submitType" value="Cancel">
            </form>
        </div>
    </body>
</html> 
