<!DOCTYPE html>
<html>
    <head>
        <title>add farm</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <div class="navBar">
            <h1>GroceryStore</h1>
            <form action="/logout" method="POST">
                <button type="submit" name="logout" value="logout">
                    Logout
                </button>
            </form>
        </div>
        <div class="supplierFormAdd">
            <h2>Add supplier:</h2>
            <form action="/add_supplier_action" method="POST">
                <label for="supplier_name">Name of supplier:</label><br>
                <input type="text" id="supplier_name" name="supplier_name"><br>
                <label for="product">Product:</label><br>
                <input type="text" id="product" name="product"><br>
                <br>
                <input type="submit" name="submitType" value="Submit">
                <input type="submit" name="submitType" value="Cancel">
            </form>
        </div>
        <div class="supplierFormRemove">
            <h2>Remove existing supplier:</h2>
            <form action="/remove_supplier_action" method="POST">
                <label for="supplier_name">Name of supplier:</label><br>
                <input type="text" id="supplier_name" name="supplier_name"><br>
                <br>
                <input type="submit" name="submitType" value="Submit">
                <input type="submit" name="submitType" value="Cancel">
            </form>
        </div>     

        <div class="suppliers">
            <h2>Existing suppliers:</h2>
            {% for line in SUPPLIERS%}
            <p>{{line}}</p>
            {% endfor %}
        </div>
    </body>
</html> 
