<!DOCTYPE html>
<html>
    <head>
        <title>GroceryStore</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
    </head>
    <body>
        <div class="navBar">
            <h1>GroceryStore</h1>
            <div class="navBarButtons">
                <form action="/orders" methods="POST">
                    <button type="submit" name="orders" value="orders">
                        Order History
                    </button>
                </form>
                <form action="/logout" method="POST">
                    <button type="submit" name="logout" value="logout">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <div class="adminMessage"><p>Logged in as admin.</p><div>

        <div class="GroceryItems">
            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Apple">
                    <img src="{{ url_for('static',filename='img/apples.png') }}" alt="applePicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveApple">
                    remove
                </button>
            </form>

            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Banana">
                    <img src="{{ url_for('static',filename='img/banana.png') }}" alt="bananaPicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveBanana">
                    remove
                </button>
            </form>
            
            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Chair">
                    <img src="{{ url_for('static',filename='img/chair.png') }}" alt="chairPicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveChair">
                    remove
                </button>
            </form>

            
            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Table">
                    <img src="{{ url_for('static',filename='img/table.jpg') }}" alt="applePicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveTable">
                    remove
                </button>
            </form>

            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Chips">
                    <img src="{{ url_for('static',filename='img/chips.png') }}" alt="bananaPicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveChips">
                    remove
                </button>
            </form>
            
            <form action="/add_item" method="POST">
                <button type="submit" name="itemtype" value="Coke">
                    <img src="{{ url_for('static',filename='img/coke.jpg') }}" alt="chairPicture" width="50px"/>
                </button>
                <button type="submit" name="itemtype" value="RemoveCoke">
                    remove
                </button>
            </form>

            <form action="/clear_cart" methods="POST">
                <button type="submit" name="clear_cart" value="clear_cart">
                    Clear cart
                </button>
            </form>
            
                
        </div>
        <div class="homeCartButton">
            <p>{{SHOPPINGCART_ITEMS}}</p>
            <form action="/check_cart" method="POST">
                <button type="submit" name="cart" value="check">
                    Retrieve cart
                </button>
            </form>
    <!-- <p>hello testing <br> does this work? </p> -->
        </div>
        <div class="adminCommands">
            <h2>Administrator commands</h2>
            <form action="/add_remove_farm" method="POST">
                <button type="submit" name="cart" value="check">
                    Add/remove farm
                </button>
            </form>
            <form action="/edit_inventory" method="POST">
                <button type="submit" name="cart" value="check">
                    Edit inventory/stock
                </button>
            </form>
            <p>edit inventory</p>
            <p>manage users</p>
        </div>
    </body>
</html> 

<!-- <div class="container">
    <div class="greeting">
        {{name}}
    </h1>
    <div class="buttonOptions">
        <form action="/stats" method="POST">
            <input class="button" type="submit" value="Stats">
        </form>
        <form action="/teams" method="POST">
            <input class="button" type="submit" value="Teams">
        </form>
        <form action="/rent" method="POST">
            <input class="button" type="submit" value="Rent">
        </form>
        <form action="/booking" method="POST">
            <input class="button" type="submit" value="Booking">
        </form>
    </div>
    <div class="upcomingTitle">
        Upcoming Events
    </div>
    <ul class="card-wrapper">
        <li class="upcomingCard">
            <div class="imgContainer">
                <img  id="upcomingImg" src="../static/img/tabletennis.jpg">
            </div>
            <div class="upcomingInfo">
                <p>Drop-In</p>
                <p>Monday-Friday 12:00-14:00</p>
            </div>
        </li>
        <li class="upcomingCard">
            <div class="imgContainer">
                <img  id="upcomingImg" src="../static/img/paddle.png">
            </div>                    
            <div class="upcomingInfo">
                <p>Balls of Fury</p>
                <p>February 25th Engg Lounge</p>
            </div>
        </li>
    </ul>
    {% if type == "ADMIN" %}
    <div class="buttonOptions">
        <form action="/adminDashboard" method="POST">
            <input class="button" type="submit" value="Admin Powers">
        </form>
    </div>
    {% endif %}
</div> -->