<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/checkout.css') }}">
    </head>
    <body>
        <div class="navBar">
            <h1>GroceryStore</h1>
            <form action="/logout" method="POST">
                <button type="submit" name="logout" value="logout">
                    Logout
                </button>
            </form>
        </div>
        <div class="CheckoutWrapper">
            <div class="CheckoutInfo">
                <h3>Checkout</h3>
                <form action="/checkoutInfo" method="POST">
                    <label for="address">Shipping address:</label><br>
                    <input type="text" id="address" name="address"><br>
                    <label for="creditCard">Credit card number:</label><br>
                    <input type="text" id="creditCard" name="creditCard"><br>
                    <br>
                    <input class="button" type="submit" name="submitType" value="Submit">
                    <input class="button" type="submit" name="submitType" value="Cancel">
                </form>
            </div>
        </div>
    </body>
</html> 

<!-- <div class="containe