<!DOCTYPE html>
<html>
    <head>
        <title>edit admins</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/admin.css') }}">
    </head>
    <body>
        <div class="navBar">
            <h1>GroceryStore</h1>
            <form action="/logout" method="POST">
                <button type="submit" name="logout" value="logout">
                    Logout
                </button>
            </form>
        </div>
        <div class="wrapper">
            <div class="adminFormAdd">
                <h2>Add admin:</h2>
                <form action="/add_admin" method="POST">
                    <label for="admin_name">User to be given admin privileges:</label><br>
                    <input type="text" id="admin_name" name="admin_name"><br>
                    <br>
                    <input type="submit" name="submitType" value="Submit">
                    <input type="submit" name="submitType" value="Cancel">
                </form>
            </div>
            <div class="adminFormRemove">
                <h2>Remove existing admin:</h2>
                <form action="/remove_admin" method="POST">
                    <label for="admin_name">Username of admin:</label><br>
                    <input type="text" id="admin_name" name="admin_name"><br>
                    <br>
                    <input type="submit" name="submitType" value="Submit">
                </form>
            </div>     
    
            <div class="admins">
                <h2>Existing admins:</h2>
                {% for line in ADMINS%}
                <p>{{line}}</p>
                {% endfor %}
            </div>
    
            <div class="users">
                <h2>Existing users:</h2>
                {% for line in USERS%}
                <p>{{line}}</p>
                {% endfor %}
            </div>
        </div>     
    </body>
</html> 
